.photologo {
  height: 200%;
}

.photologo:hover {
  border: none;
}

a {
  color: #9d9d9d;
}

.about-title {
  padding: 30px 0;
  text-align: center;
}

.about-title h1 {
  font-size: 50px;
  font-family: 'Righteous', sans-serif;
  color: white;
  text-shadow: 2px 2px black;
}

.matt-image {
  margin: 20px 0;
  border: 1px black solid;
}

.about p {
  margin-top: 20px;
  font-size: 18px;
}

.line {
  height: 2px;
  width: 40%;
  background-color: black;
}

.center-line {
  height: 2px;
  width: 25%;
  background-color: white;
  margin: auto;
}

.connect {
  padding-left: 0;
  padding-right: 0;
}

#farleft {
  padding-left: 0;
}

#connect {
  margin-bottom: 20px;
  margin-top: 10px;
  font-family: 'Righteous', sans-serif;
}

a:focus, a:hover {
  color: black;
  text-decoration: none;
}

.current {
  pointer-events: none;
  cursor: default;
}

li a {
  cursor: default;
}

.specialFlickman {
  font-family: 'Righteous', sans-serif;
}

.email {
  color: #add8e6;
}

.email:hover {
  color: white;
}
