/* ****  COLORS ****
  #fff    white
  #f4f4ef newsprint
  #103572 navy blue
  #7df9ff electric blue
*/

.enter-wrapper {
  text-align: center;
  font-family: 'Allerta Stencil';
}

.welcome-btn {
  padding: 12px 5px;
  color: white;
  width: 150px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: transparent;
  border: 2px white solid;
  margin: 0 5px;
  margin-bottom: 30px;
}

button:focus {
  outline: 0;
}

a {
  color: white;
}

button:hover {
  text-decoration: none;
  color: black;
  background-color: lightgray;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:visited {
  color: white;
  text-decoration: none;
}

body {
  background-color: black;
  /*
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background: url('/images/logos/FlickmanChevron.png') no-repeat center center fixed;*/
}

.bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 30px;
}

.top {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 30px;
}

.fillWidth {
  width: 100%;
}
