
/* ****  COLORS ****
  #fff    white
  #f4f4ef newsprint
  #103572 navy blue
  #7df9ff electric blue
*/
.enter-wrapper {
  text-align: center;
  font-family: 'Allerta Stencil';
}

.enter-title {
  font-size: 7em;
  color: white;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 130px;
  font-family: 'Dancing Script';
}

.enter-subtitle {
  font-size: 2em;
  color: white;
  margin-bottom: 200px;
  margin-top: 0;
  padding-top: 0;
}

.enter-location {
  color: white;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.welcome-btn {
  padding: 12px 5px;
  color: white;
  width: 120px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: transparent;
  border: 2px white solid;
  margin: 0 5px;
  margin-bottom: 30px;
}

button:focus {
  outline: 0;
}

a {
  color: white;
}

button:hover {
  text-decoration: none;
  color: black;
  background-color: lightgray;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:visited {
  color: white;
  text-decoration: none;
}

body {
  background-image: url('/images/MDH_7857.jpg');
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
