
/* ****  COLORS ****
  #fff    white
  #f4f4ef newsprint
  #103572 navy blue
  #7df9ff electric blue
*/
.navbar-right li {
  padding-right: 5px;
}

.enter-wrapper {
  text-align: center;
  font-family: 'Allerta Stencil';
}

.enter-title {
  font-size: 4em;
  color: white;
  margin-bottom: 40px;
}

.enter-subtitle {
  font-size: 3em;
  color: white;
  margin-bottom: 300px;
}

.enter-location {
  color: white;
  font-size: 3em;
}

#lit {
  background-color: white;
}

.photologo {
  height: 180%;
  padding-bottom: 5px;
  margin: auto;
}
.welcome-btn {
  color: white;
  width: 40px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: transparent;
  border: 2px black solid;
}

#enter, #insta {
  color: white;
}

.welcome {
  width: 50%;
  margin: auto;
}

body {
  background-image: url('/images/MDH_7857.jpg');
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.navbar {
  background-color: white;
  color: red;
  margin-bottom: 0;
  padding: 10px;
  border-bottom: none;
  font-family: 'Karla', sans-serif;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: 2px solid white;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: black;
    background-color: lightgray;
}

#test1 {
  padding: 190px 20px 80px 20px;
  background-color: transparent;
  text-align: center;
  color: white;
  font-size: 6vw;
  font-family: 'Karla', sans-serif;
  text-shadow: 4px 4px 2px black, 2px 2px 1px #7df9ff;
}

#future {
  font-size: 4.5vw;
  padding-top: 0px;
  background-color: #7df9ff;
  width: 30%;
  text-shadow: 4px 4px black;
  margin: auto;
}

#about {
  background-color: black;
  text-align: center;
  color: red;
  margin-top: 50px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

#portfolio {
  background-color: black;
  text-align: center;
  color: red;
  margin-top: 50px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

#connect {
  background-color: white;
  text-align: center;
  color: red;
  margin-top: 50px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

#test3 {
  background-color: transparent;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: red;
}

#test5 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #103572;
  text-align: center;
  color: red;
}

.sectionHeader {
  border: 2px solid #7df9ff;
  padding: 0.5em;
  color: white;
  font-size: 24px;
  font-family: 'Karla', sans-serif;
  text-decoration: none;
  :hover {
    text-decoration: none;
    color:white;
  }
}

.row {
  background-color: black;
}

.section {
  max-width: 970px;
  margin: auto;
}

p {
  padding-top: 0px;
  color: white;
  font-size: 18px;
  line-height: 1.75em;
  text-align: left;
}

.my-containers {
  padding: 1em 5em;
}

#mattImage {
  margin-bottom: 50px;
}

#footer {
  background-color: white;
  p {
    text-align: center;
  }
}

.copyright {
  font-size: 18px;
  text-align: center;
}

#aboutMatt {
  margin-bottom: 40px;
  text-decoration: none;
  color: white;
  :hover {
    text-decoration: none;
    color: white;
  }
}

#portfolioMatt {
  margin-bottom: 40px;
}


h4 {
  color: white;
  padding-bottom: 20px;
}

.fa-stack {
  color: black;
}

#mattNav {
  color: #7df9ff;
  cursor: pointer;
}
