html {
  height: 100%;
  margin: 0;
}

body {
  /*background-image: url('/images/mostfaded.png');
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;*/
  background-color: black;
  font-family: 'Karla', sans-serif;
  padding-top: 71px;
  height: 100%;
  margin: 0;
}

.navbar-right li {
  margin-right: 3px;
  margin-left: 3px;
}

.photologo {
  height: 200%;
}

img {
  border: 2 px solid white;
}

.navbar {
  background-color: black;
  margin-bottom: 0;
  padding: 10px;
  font-family: 'Karla', sans-serif;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: 1px solid white;
}

a {
  color: #9d9d9d;
}

.navbar .navbar-nav>li>a:focus, .navbar .navbar-nav>li>a:hover {
  color: white;
  background-color: gray;
}

.logo {
  cursor: default;
}

/*Styles the mobile dropdown for nav button (specifically the three lines)*/

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: white;
}

/*Styles the actual button for dropdown nav on mobile*/

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid white;
  border-radius: 4px;
}

.about-title {
  padding: 30px 0;
  text-align: center;
}

.about-title h1 {
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px black;
  font-family: 'Righteous', sans-serif;
}

.matt-image {
  margin: 20px 0;
  border: 1px black solid;
}

.about p {
  margin-top: 20px;
  font-size: 18px;
}

.line {
  height: 2px;
  width: 40%;
  background-color: black;
}

.center-line {
  height: 2px;
  width: 25%;
  background-color: white;
  margin: auto;
}

.connect {
  padding-left: 0;
  padding-right: 0;
}

#farleft {
  padding-left: 0;
}

#connect {
  margin-bottom: 20px;
  margin-top: 10px;
}

a:focus, a:hover {
  color: black;
  text-decoration: none;
}

.navbar .navbar-nav>.active>a, .navbar .navbar-nav>.active>a:focus, .navbar .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #080808;
}

.copyright {
  font-size: 18px;
  color: white;
  padding-top: 9px;
  border-top: 1px solid white;
}

.footer {
  background-color: transparent;
  text-align: center;
  height: 30px;
  border-top: 1px black solid;
}

.wrapper {
  min-height: 100%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -30px;
}

.push {
  height: 30px;
}

.portraits {
  width: 100%;
  margin: 0 auto 30px auto;
  height: auto;
}

.center {
  text-align: center;
}

.current {
  pointer-events: none;
  cursor: default;
}

li a {
  cursor: default;
}

.navbar-brand {
  position: fixed;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 20px;
}

.flickman {
  color: #c1e7fa;
  font-size: 1.5em;
  font-family: 'Righteous', sans-serif;
  text-transform: lowercase;
}

.flickman:hover {
  color: inherit;
  cursor: default;
}
