.navbar-right li {
  margin-right: 3px;
  margin-left: 3px;
}

.photologo {
  height: 180%;
  margin: auto;
}

body {
  background-image: url('/images/faded.png');
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Karla', sans-serif;
  padding-top: 65px;
}

.navbar {
  background-color: white;
  margin-bottom: 0;
  padding: 10px;
  font-family: 'Karla', sans-serif;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: 1px solid black;
}

.navbar-inverse .navbar-nav>li>a:focus {
    color: black;
    background-color: lightgray;
}

.logo {
  cursor: default;
  margin-bottom: 10px;
}
